@use "../../pages/HomePage/Homepage.scss" as main;
$main-color: main.$main-color;
$secondary-color: main.$secondary-color;
$text-color: main.$text-color;
$distance-from-center: 100px;
$ibm: main.$ibm;
$golos: main.$golos;

.arrow {
  position: absolute;
  top: 270px;
}

.left-arrow {
  left: 50% !important;
  transform: translateX(calc(-50% - $distance-from-center));
}

.right-arrow {
  right: 50% !important;
  transform: translateX(calc(50% + $distance-from-center));
}

.image-slider {
  position: relative;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;

  .each-slide {
    height: calc(100dvh - 90px);
    width: 100%;
    position: relative;

    img {
      position: absolute;
      min-width: 100%;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    .slider-content {
      position: absolute;
      top: 60px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1200px;
      margin: 0 auto;
      width: 100%;

      h4 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        color: $secondary-color;
      }

      h1 {
        margin: 20px 0 15px 0;
        font-weight: 700;
        font-size: 52px;

        span {
          font-weight: 900;
          color: $main-color;
        }
      }

      h3 {
        font-family: $ibm;
        font-weight: 400;
        max-width: 700px;
        margin: 0 auto;
        color: $text-color;
      }

      .slider {
        margin: 30px 0 0 0;
        span {
          color: $secondary-color;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .arrow {
    position: absolute;
    top: 220px;
  }

  .image-slider {
    .each-slide {
      .slider-content {
        padding: 0 20px;
        h1 {
          margin: 20px 0 15px 0;
          font-size: 32px;
        }

        h3 {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .arrow {
    top: 220px;
  }

  .image-slider {
    .each-slide {
      .slider-content {
        padding: 0 20px;
        h1 {
          font-size: 20px;
        }

        h3 {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 518px) {
  .arrow {
    top: 240px;
  }
}

@media screen and (max-width: 360px) {
  .arrow {
    top: 260px;
  }
}
