.search-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  width: 100%;
  top: 100%;
  border: 3px solid #ca9841;
  border-radius: 10px;
  background: #fff;
}
.search-box .search-terms {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  gap: 35px;
}
.search-box .search-terms .search-term {
  display: flex;
  flex-direction: column;
}
.search-box .search-terms .search-term .icon-header {
  display: flex;
  margin: 0 0 15px 0;
  align-items: center;
  justify-content: flex-start;
}
.search-box .search-terms .search-term .icon-header h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.search-box .search-terms .search-term .icon-header img {
  margin: 0 10px 0 0;
  max-width: 32px;
  width: 100%;
}
.search-box .search-terms .search-term hr {
  border: 1px #ca9841;
}
.search-box .search-terms .search-term .term {
  margin: 0 0 0 42px;
  width: 100%;
}
.search-box .search-terms .search-term .term .date-picker {
  max-width: 175px;
  width: 100%;
}
.search-box .search-terms .search-term .term .css-r5jwtn-MuiAutocomplete-root input {
  border: 0 !important;
  outline: 0 !important;
}
.search-box .search-terms .search-term .term .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5px;
}
.search-box .search-terms .search-term .term .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.search-box .search-btn {
  width: 70px;
  border-radius: 0 10px 10px 0;
  margin: 0 -2px 0 0;
  border: 0;
  cursor: pointer;
  background: #ca9841 url("../../images/search.svg") no-repeat center;
  border: 5px solid #ca9841;
}

.minimized .search-terms {
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}
.minimized .search-terms .search-term {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.minimized .search-terms .search-term .icon-header {
  margin: 0;
  width: 32px;
}
.minimized .search-terms .search-term .icon-header img {
  width: 32px;
}
.minimized .search-terms .search-term .term {
  margin: 0 0 0 25px;
}

@media screen and (max-width: 1000px) {
  .search-box {
    transform: translate(-50%, -30%);
  }
  .minimized {
    max-width: 750px;
  }
}
@media screen and (max-width: 800px) {
  .search-box {
    flex-direction: column;
    padding: 0 0 25px 0;
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
  }
  .search-box .search-terms {
    flex-direction: column;
    gap: 20px;
  }
  .search-box .search-terms .search-term {
    max-width: 250px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .search-box .search-terms .search-term .icon-header {
    margin: 0;
  }
  .search-box .search-terms .search-term .icon-header h4 {
    display: none;
  }
  .search-box .search-terms .search-term .term {
    margin: 0 0 0 30px;
  }
  .search-box .search-btn {
    padding: 20px 100px;
    width: -moz-max-content;
    width: max-content;
    border-radius: 0 10px 10px 0;
    color: #fff;
    cursor: pointer;
    background: #ca9841;
    border-radius: 0;
    margin: 0 0 0 35px;
  }
}/*# sourceMappingURL=Searchbox.css.map */