@use "../../pages/HomePage/Homepage.scss" as main;
$main-color: main.$main-color;
$secondary-color: main.$secondary-color;
$text-color: main.$text-color;
$ibm: main.$ibm;
$golos: main.$golos;

.trip-list-item{
  border-radius: 15px;
  background: #fff;
  padding: 20px;
  max-width: 900px;
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
  min-width: 600px;

  .trip-image{
    width: 300px;
    max-height: 250px;
    min-width: 250px;
    img{
      width: 100%;
    }
  }

  .trip-info{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    h3{
      font-size: 20px;
      font-weight: 600;
    }

    p{
      font-size: 15px;
      font-weight: 400;
      color: $text-color;
      font-family: $ibm;
      margin: 10px 0 25px 0;
    }

    .features{
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      width: 100%;
  
      .feature{
        display: flex;
        align-items: center;
        gap: 12px;
  
        h5{
          font-weight: 500;
          font-size: 16px;
          font-family: $ibm;  
          color: $text-color;
        }
      }
    }

    a{
      align-self: flex-end;
      margin: 25px 0 0 0;
      text-decoration: none;
      color: $main-color;
      font-size: 16px;
      font-weight: 600;
      font-family: $ibm;
      display: flex;
      align-items: center;

      svg{
        margin: 0 0 0 10px;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .trip-list-item{
    flex-direction: column;
    min-width: 200px;
    gap: 20px;

    .trip-image{
      max-width: 100%;
      max-height: 100%;
      width: 100%;
    }
  }
}