@use "../../pages/HomePage/Homepage.scss" as main;
$main-color: main.$main-color;
$secondary-color: main.$secondary-color;
$text-color: main.$text-color;
$ibm: main.$ibm;
$golos: main.$golos;

@mixin transparentBackgroundColorMixin($alpha, $color) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

.stats-bar-background {
  @include transparentBackgroundColorMixin(0.19, $main-color);
  margin: 150px 0 0 0;

  .stats-bar {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 36px;
      font-weight: 700;
      max-width: 400px;
    }

    .stats {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 85px;
      min-width: max-content;

      .stat {
        h1 {
          font-size: 54px;
          font-weight: 700;
          color: $main-color;
          display: flex;
          align-items: flex-end;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .stats-bar-background {
    .stats-bar {
      padding: 50px 20px;

      .stats {
        gap: 40px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .stats-bar-background {
    margin: 300px 0 0 0;

    .stats-bar {
      h2 {
        font-size: 28px;
      }

      .stats {
        gap: 20px;
        min-width: min-content;

        .stat {
          h1 {
            font-size: 42px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .stats-bar-background {
    margin: 350px 0 0 0;

    .stats-bar {
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        max-width: 100%;
      }

      .stats {
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0 0 0;
        width: 100%;

        .stat {
          h1 {
            font-size: 36px;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .stats-bar-background {
    margin: 350px 0 0 0;

    .stats-bar {
      flex-direction: column;
      align-items: flex-start;

      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: left;
        max-width: unset;
      }

      .stats {
        gap: 20px;
        min-width: min-content;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 0 0 0;

        .stat {
          h1 {
            font-size: 36px;
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
