@use "../HomePage/Homepage.scss" as main;
$main-color: main.$main-color;
$secondary-color: main.$secondary-color;
$text-color: main.$text-color;
$ibm: main.$ibm;
$golos: main.$golos;

.search-page {
  max-width: 1300px;
  padding: 0 50px 50px 50px;
  margin: 0 auto;

  .search-header {
    position: relative;
    width: 100%;
    margin: 0 0 100px 0;

    .cover {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .search-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    width: 100%;

    .search-result {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      &-first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 0 30px 0;

        .search-result-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .btn {
            border: 1px solid $main-color;
            border-radius: 0;
            padding: 12px 28px;
            background: transparent;
            color: $main-color;
            outline: 0;
            display: none;
          }
        }

        h3 {
          font-weight: 600;
          font-size: 16px;

          span {
            font-size: 24px;
            color: $main-color;
          }
        }
      }

      .Mui-selected {
        background: $main-color !important;
        color: #fff !important;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .search-page {
    padding: 0 0 50px 0;

    .search-header {
      min-height: 300px;

      .cover {
        height: 300px;
        width: 100%;
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          left: -100px;
          width: unset;
          height: 100%;
        }
      }
    }

    .search-body {
      padding: 0 20px;
      .search-result {
        &-first-row {
          flex-direction: column-reverse;
          align-items: flex-end;
          gap: 50px;

          .search-result-group {
            h3 {
              span {
                display: inline-block;
              }
            }
            .btn {
              display: block;
            }
          }
        }

        .search-mobile-filters {
          max-width: 1000px;
          width: 100%;
          margin: 0 0 50px 0;
        }
      }
    }
  }
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 100px 0 0 0;
}

@media screen and (max-width: 800px) {
  .search-page {
    .search-header {
      .cover {
        img {
          left: -300px;
        }
      }
    }
    .search-body {
      .search-result {
        &-first-row {
          margin: 170px 0 20px 0;
        }
      }
    }
  }
}
