@use '../../pages/HomePage/Homepage.scss' as main;
$main-color: main.$main-color;
$secondary-color: main.$secondary-color;
$text-color: main.$text-color;
$ibm: main.$ibm;
$golos: main.$golos;

.card-list {
  margin: 40px 0 80px 0;
  display: flex;
  gap: 35px;
  justify-content: space-around;
  align-items: stretch;
}

.card-list-outer {
  width: 100%;
  overflow: hidden;
  padding: 0 50px;
  
  .extend {
    padding: 0 0 80px 0;
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;

    /* width */
    &::-webkit-scrollbar {
      height: 15px !important;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #00000010;
      border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      background: $main-color;
      border-radius: 8px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $main-color;
    }

    .card-outer {
      width: 360px;
      min-height: max-content;
      height: 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  .card-list-outer{
    padding: 0 15px;
  }
}

@media screen and (max-width: 1100px) {
  .card-list{
    gap: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .card-list{
    margin: 40px auto 80px auto;
    flex-direction: column;
    gap: 90px;
  }
}