@use '../../pages/HomePage/Homepage.scss' as main;
$main-color: main.$main-color;
$secondary-color: main.$secondary-color;
$text-color: main.$text-color;
$ibm: main.$ibm;
$golos: main.$golos;

.card-outer{
  box-shadow: 0 0 rgba(0, 0, 0, 0.16);
  max-width: 360px;
  position: relative;
  
  .card{
    position: relative;
    padding: 17px;
    margin: 0 auto;
    background: #fff;
    border-radius: 15px;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .header-image{
      width: 100%;
      border-radius: 10px;
    }
  
    h4{
      font-size: 18px;
      font-weight: 600;
      text-align: start;
      margin: 20px 0 10px 0;
    }
  
    p{
      font-size: 15px;
      font-weight: 400;
      font-family: $ibm;
      color: $text-color;
      text-align: start;
      margin: 0 0 25px 0;
    }
  
    .features{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin: auto 0 0 0;
  
      .feature{
        display: flex;
        align-items: center;
        gap: 12px;
  
        h5{
          font-weight: 500;
          font-size: 16px;
          font-family: $ibm;
        }
      }
    }
  }

  #explore-btn{
    position: absolute;
    top: 70%;
    width: 100%;
    display: block;
    border-radius: 0 0 15px 15px;
    z-index: 1;
    transition: all 0.3s ease;
  }
}

.card-outer:hover{
  .card{
    border-radius: 15px 15px 0 0;
  }
  
  #explore-btn{
    top: 100%;
    margin: 0;
  }
}
