@use "../HomePage/Homepage.scss" as main;
$main-color: main.$main-color;
$secondary-color: main.$secondary-color;
$text-color: main.$text-color;
$ibm: main.$ibm;
$golos: main.$golos;

.about-page {
  .sub-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin: 55px 0 75px 0;
    text-align: center;
    color: $main-color;
  }

  .section1 {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;

    .img-container {
      max-width: 440px;
      width: 100%;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .section1-content {
      text-align: left;
      max-width: 660px;
      margin: 0 auto;
      width: 100%;

      h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
        margin: 0 0 20px 0;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: $text-color;
      }

      p:nth-of-type(1) {
        margin: 0 0 40px 0;
      }
    }
  }

  .section2 {
    margin: 150px auto;
    width: 100%;
    max-width: 1440px;

    .row {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
      }

      .section2-content {
        padding: 50px;

        h3 {
          font-size: 26px;
          font-weight: 600;
          line-height: 42px;
          color: $main-color;
          margin: 0 0 20px 0;
        }

        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
        }

        p:nth-of-type(2) {
          margin: 30px 0 0 0;
        }
      }

      .left-p {
        padding-left: 120px;
      }

      .right-p {
        padding-right: 120px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .about-page {
    .section2 {
      .row {
        .left-p {
          padding-left: 50px;
        }

        .right-p {
          padding-right: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .about-page {
    .sub-title {
      font-size: 16px;
      margin: 30px 0;
    }
    .section1{
      flex-direction: column;
      padding: 0 25px;
      .img-container{
        display: none;
      }

      .section1-content{
        max-width: 100%;
        text-align: center;
      }
    }
    .section2 {
      .row {
        flex-direction: column;
        margin: 0 0 50px 0;

        img {
          width: 100%;
        }

        .left-p {
          padding-left: 20px;
        }

        .right-p {
          padding-right: 20px;
        }

        .section2-content{
          padding: 50px 20px;
        }
      }

      .reverse {
        flex-direction: column-reverse;
      }
    }
  }
}
