@use '../../pages/HomePage/Homepage.scss' as main;
$main-color: main.$main-color;
$secondary-color: main.$secondary-color;
$text-color: main.$text-color;
$ibm: main.$ibm;
$golos: main.$golos;
$circle-size: 200px;

.guests-picker {
  display: flex;
  align-items: center;

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    max-width: 50px;
    text-align: center;
    border: 0;
    outline: 0;
  }

  svg {
    cursor: pointer;
    fill: $main-color
  }
}