.quote-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: start;

  .row {
    display: flex;
    gap: 30px;
    width: 100%;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #0000003a;
    border-radius: 5px;
    padding: 15px;

    h4 {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 500;
      font-size: 14px;
    }
  }

  .btn {
    padding: 20px 40px;
    border: 0;
    border-radius: 0;
    cursor: pointer;
  }
}
