@use '../../pages/HomePage/Homepage.scss' as main;
$main-color: main.$main-color;
$secondary-color: main.$secondary-color;
$text-color: main.$text-color;

.navbar-background {
  width: 100%;
  background: #000;
  padding: 5px 50px;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      font-weight: 500;
      font-size: 15px;
    }

    ul {
      display: flex;
    }

    .navbar-user {
      li, a {
        color: $main-color;
        text-transform: uppercase;
      }
    }

    .navbar-list{
      a {
        color: #fff;
        margin: 0 30px;
      }

      .main{
        color: $main-color;
      }
    }
  }
}
