@use '../../pages/HomePage/Homepage.scss' as main;
$main-color: main.$main-color;
$secondary-color: main.$secondary-color;
$text-color: main.$text-color;
$ibm: main.$ibm;
$golos: main.$golos;

.search-filters{
  max-width: 310px;
  min-width: 250px;
  padding: 30px 20px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;

  .filter{
    width: 100%;
    &-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      h3{
        font-size: 16px;
        font-weight: 600;
        color: #000;
      }
    }

    &-body{
      transition: all 0.3s ease-in-out;
      .option{
        display: flex;
        align-items: center;
        margin: 15px 0 0 0;
        cursor: pointer;

        p{
          font-size: 14px;
          font-weight: 500;
          color: $text-color;
          margin: 0 0 0 15px;
        }
      }

      h4{
        text-align: center;
        color: $text-color;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  hr{
    margin: 20px 0;
  }

  .btn{
    margin: 30px 0 0 0;
    padding: 14px 55px;
    background: $main-color;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-family: $ibm;
    border-radius: 5px;
    border: 0;
    width: 100%;
    cursor: pointer;
  }
}

.big{
  max-width: 100%;
}