@use "../../pages/HomePage/Homepage.scss" as main;
$main-color: main.$main-color;
$secondary-color: main.$secondary-color;
$text-color: main.$text-color;
$ibm: main.$ibm;
$golos: main.$golos;

.benefits {
  margin: 100px 0 0 0;

  h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;

    span {
      color: $main-color;
    }
  }

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    padding: 50px;
    margin: 0 auto;

    .left {
      .main-image {
        max-width: 550px;
      }
    }

    .right {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 0 0 0 -200px;

      .point {
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: space-between;

        .benefit {
          text-align: center;
          background: #fff;
          padding: 15px 0px;
          border-radius: 20px;
          min-width: 300px;
          max-width: 330px;
          width: 100%;

          img {
            margin: 0 0 10px 0;
          }

          h4 {
            font-size: 16px;
            font-weight: 600;
            min-width: max-content;
          }
        }

        p {
          font-size: 14px;
          font-weight: 400;
          font-family: $ibm;
          max-width: 60%;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .benefits {
    section {
      padding: 50px 20px;

      .right {
        gap: 20px;
        .point {
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .benefits {
    section {
      padding: 50px 20px;

      .left {
        display: none;
      }

      .right {
        margin: 0;
        gap: 80px;

        .point {
          flex-direction: column;
          align-items: center;
          gap: 10px;
          margin: 0;
          text-align: center;
          max-width: 550px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .benefits {
    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
    }

    section {
      padding: 20px;
    }
  }
}
